In [1]:
import pandas as pd
import numpy as np 
import geopandas

In [2]:
supermarket = pd.read_csv("https://data.wprdc.org/datastore/dump/626357fa-c95d-465f-9a02-3121655b2b78", 
                          index_col = "Client ID",
                          parse_dates = True) 
supermarket.sample()

,Name,Legal Name,Start Date,Street #,Street Name,State,Zip,Lat,Lon,Accuracy,Category
Client ID,,,,,,,,,,,
200601310002,Sam's Club #6575,Sam's East Inc,10/7/1996,249,Summit Park Dr,PA,15275.0,40.449585,-80.177954,9.0,Supermarket

In [3]:
query_mask = supermarket["Category"] == "Supermarket"
only_supermarket = supermarket[query_mask]
only_supermarket.head()

,Name,Legal Name,Start Date,Street #,Street Name,State,Zip,Lat,Lon,Accuracy,Category
Client ID,,,,,,,,,,,
Client ID,Aldi #92,Aldi Inc,8/18/2015,5239,Brownsville Rd,PA,15236.0,40.342387,-79.984112,9.0,Supermarket
201508270013,Aldi,Aldi Inc,9/22/2015,7350,Saltsburg Rd,PA,15235.0,40.477243,-79.785988,9.0,Supermarket
201509280005,Aldi #56,Aldi Inc,7/17/2006,2348,Ardmore Blvd,PA,15221.0,40.415887,-79.848706,9.0,Supermarket
200607310002,Aldi #68,Aldi Inc,7/16/2010,4578,Wm Flynn Hi,PA,15101.0,40.571191,-79.952845,3.0,Supermarket
201007230007,Aldi #72,Aldi Inc,11/18/2010,3089,Sussex Av,PA,15226.0,40.383771,-80.014178,9.0,Supermarket

In [4]:
neighborhoods = geopandas.read_file("Neighborhoods/Neighborhoods_.shp")
neighborhoods.head()

,objectid,fid_blockg,statefp10,countyfp10,tractce10,blkgrpce10,geoid10,namelsad10,mtfcc10,funcstat10,...,shape_ar_1,page_numbe,plannerass,created_us,created_da,last_edite,last_edi_1,Shape__Are,Shape__Len,geometry
0,1,0.0,42,003,040500,1,420030405001,Block Group 1,G5030,S,...,7.843108e+06,15,Derek Dauphin,pgh.admin,2019-10-23T14:17:16.403Z,pgh.admin,2019-10-23T14:17:16.403Z,7.842997e+06,11525.904546,"POLYGON ((-79.95304 40.44203, -79.95302 40.442..."
1,2,1.0,42,003,040400,1,420030404001,Block Group 1,G5030,S,...,1.390463e+07,15,Derek Dauphin,pgh.admin,2019-10-23T14:17:16.403Z,pgh.admin,2019-10-23T14:17:16.403Z,1.390469e+07,20945.562570,"POLYGON ((-79.95455 40.45882, -79.95427 40.458..."
2,3,2.0,42,003,040200,2,420030402002,Block Group 2,G5030,S,...,5.999801e+06,15,Derek Dauphin,pgh.admin,2019-10-23T14:17:16.403Z,pgh.admin,2019-10-23T14:17:16.403Z,5.998649e+06,18280.484515,"POLYGON ((-79.96230 40.44294, -79.96220 40.442..."
3,4,3.0,42,003,030500,2,420030305002,Block Group 2,G5030,S,...,7.202139e+06,15,Derek Dauphin,pgh.admin,2019-10-23T14:17:16.403Z,pgh.admin,2019-10-23T14:17:16.403Z,7.203337e+06,15697.914337,"POLYGON ((-79.98275 40.44641, -79.98273 40.446..."
4,5,5.0,42,003,020300,1,420030203001,Block Group 1,G5030,S,...,1.694785e+07,15,Andrea Lavin Kossis,pgh.admin,2019-10-23T14:17:16.403Z,pgh.admin,2019-10-23T14:17:16.403Z,1.694875e+07,24019.532672,"POLYGON ((-79.97494 40.45629, -79.97484 40.456..."

In [5]:
import matplotlib.path as mplpath
from geopy.geocoders import Nominatim

In [6]:
geolocator = Nominatim(user_agent="cmpinf10-alex")

In [8]:
s_neighborhoods = list()
for index, row in only_supermarket.iterrows():
    location = geolocator.reverse("{}, {}".format(row['Lat'], row['Lon']))
    geo_string = location.address.split(",")
    if geo_string[-5] == "Pittsburgh":
        s_neighborhoods.append(geo_string[-6])
    else: 
        s_neighborhoods.append(geo_string[-5])
s_neighborhoods

[]